.tool-card {
  width: 100%;
  border-radius: 8px;
  &:hover {
    border-color: var(--n-color-target);
  }

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      width: 64px;
      height: 64px;
      --webkit-box-flex: 0;
      flex: none;
      background: rgba(128, 128, 128, 0.1);
      overflow: hidden;
    }
    .title {
      color: var(--n-text-color);
    }
    .description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
  @media screen and (max-width: 768px) {
    :deep(.n-card__content) {
      padding: 0;
    }
    .card-content {
      .logo {
        width: 48px;
        height: 48px;
      }
      .description {
        display: none;
      }
    }
  }
}
